.BuildController {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0;
}

.BuildController button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #a87d48;
    cursor: pointer;
    outline: none;
}